S3method(ensemblToGenes,data.frame)
S3method(ensemblToGenes,matrix)
S3method(ensemblToGenes,tbl_df)
S3method(cpmGeneExpr,data.frame)
S3method(cpmGeneExpr,matrix)
S3method(cpmGeneExpr,tbl_df)
S3method(genesToEntrez,tbl_df)
S3method(genesToEntrez,data.frame)
export(cpmGeneExpr)
export(ensemblToGenes)
export(genesToEntrez)
